/*Contact sectiom*/
.content-header {
    font-family: 'Oleo Script', cursive;
    color: #fcc500;
    font-size: 45px;
}

.section-content {
    text-align: center;
}

select {
    color: initial !important;
}

#contact {
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px; /* change it to your value depending on context*/
   
    color: #fff;
}

.contact-section {
    padding-top: 40px;
}

    .contact-section .col-md-6 {
        width: 50%;
    }

.form-line {
    border-right: 1px solid #B29999;
}

.form-group {
    margin-top: 10px;
}

label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

.form-control {
    font-size: 1.3em;
    color: #080808;
}

textarea.form-control {
    height: 135px;
    resize: none; /*disables the resize function*/
    /* margin-top: px;*/
}

.submit {
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
}


body {
    background: url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}

    #login-dp .help-block {
        font-size: 12px
    }

    #login-dp .bottom {
        background-color: rgba(255,255,255,.8);
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }

    #login-dp .social-buttons {
        margin: 12px 0
    }

        #login-dp .social-buttons a {
            width: 49%;
        }

    #login-dp .form-group {
        margin-bottom: 10px;
    }

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

    .btn-fb:hover {
        color: #fff;
        background-color: #496ebc
    }

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

    .btn-tw:hover {
        color: #fff;
        background-color: #59b5fa;
    }

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
}

.bold { font-weight:bold;}
